body {
	background-color: rgb(227, 227, 227);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,400&display=swap');

.App {
	margin: 18px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

ul.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: 0;
}

ul.pagination li {
	display: inline;
	text-align: center;
	height: 22px;
	margin: 3px;
	padding: 4px;
	border: 1px solid red;
	border-radius: 5px;
}

ul.pagination li a {
	color: black;

	padding: 5px;
	text-decoration: none;
}

ul.pagination li.active {
	background: red;
	font-weight: bold;
}

h4 {
	margin-block-start: 0em;
	margin-block-end: 0.3em;
	font-family: 'Merriweather', serif;
}

article {
	background-color: #fff;
	flex-grow: 0;
	flex-shrink: 1;
	border: 1px solid lightgray;
	border-radius: 5px;

}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
}

.article__image {
	border-bottom: 1px solid lightgray;
	border-radius: 5px 5px 0 0;
	width: 100%;
}

.article__text {
	padding: 0.4em;
}