:root {
	--light-color: #fff;
	--gray-color: rgb(227, 227, 227);
	--darkgray-color: #666;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,400&display=swap');

body {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 1100px;


	background-color: var(--light-color);
	font-family: 'Merriweather', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.App {
	margin: 0px;
	text-align: center;
}

/* ----------------- */
/* Header component */
/* ----------------- */
header {
	background: var(--light-color);
}

.header-container {
	padding: 10px 15px 10px 15px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logoimgs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logos {
	height: 30px;
}

.logoimg {
	margin-right: 8px;
	height: 100px;
}

.logoname {
	height: 60px;
}

/* ----------------- */
/* footer component */
/* ----------------- */

.footer-container {
	flex: 0 0 auto;
	margin: 15px 0px;
	margin-bottom: 10px;
	font-size: 0.8rem;
	text-align: center;
	color: var(--darkgray-color);
}

.outlet-container {
	flex: 1 0 auto;
}

.notfind-container {
	font-size: 3rem;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-self: center;
	text-align: center;
}

/* -------------------- */
/* paginator component */
/* -------------------- */

.pagination-contaener {

	background: var(--light-color);
}

ul.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: 0;
	padding-top: 15px;
}

ul.pagination li {
	display: inline;
	text-align: center;
	height: 22px;
	margin: 3px;
	padding: 7px 7px 2px 7px;
	border: 1px solid rgb(139, 139, 139);
	border-radius: 5px;
	font-size: 0.8rem;

}


ul.pagination li.active {
	border: 1px solid rgb(0, 0, 0);
	background: rgb(189, 189, 189);
	font-weight: bold;
}

/* --------------------- */
/* singlepage components */
/* --------------------- */

.spn-container {
	text-align: left;
	/*background-color: rgb(227, 227, 227);*/
}

.spn-textcontainer {
	padding: 20px;
}

.spn-textcontainer>h1 {
	margin-block-start: 0px;
	text-align: center;
	color: var(--darkgray-color);
}

.spn-textcontainer>h5 {
	text-align: right;
	color: var(--darkgray-color);
}

.spn-imagecontainer {
	width: 100%;

	overflow: hidden;
}

.spn-articleimage {
	width: 100%;

}

/* --------------------- */
/* Layout component */
/* --------------------- */
.layout-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.outlet-container {
	text-align: left;
	background-color: var(--gray-color);
	flex: 1 0 auto;
	/* padding: 20px; */
}


hr {
	font-size: 0;
}

a:active,
a:hover,
a {
	text-decoration: none;
	color: black;
}


h4 {
	margin-block-start: 0em;
	margin-block-end: 0.3em;
	color: var(--darkgray-color);
	font-family: 'Merriweather', serif;
}

article {
	background-color: #fff;
	border: 1px solid lightgray;
	border-radius: 5px;

}


.article-imagecontainer {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.cards-container {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
	object-fit: fill;

	height: 100%;
}

.article__image {
	border-bottom: 1px solid lightgray;
	border-radius: 5px 5px 0 0;
	width: 100%;
}

.article__text {
	padding: 10px;
}

.article__preview {
	text-indent: 11px;
	font-family: 'Merriweather',
		serif;
	font-style: italic;
	font-size: 0.9rem;
}

.article__data {
	vertical-align: bottom;
	text-align: left;
	font-size: 0.8rem;
	color: gray;
}

.article__footer {
	margin-top: 5px;
	margin-left: 8px;
	margin-right: 8px;
	display: flex;
	justify-content: space-between;
}

.article__moreinfo {
	vertical-align: bottom;
	text-align: right;
	font-size: 0.8rem;
	color: gray;
}

.article__text>a {
	text-decoration: none;
}


.bodynews {}